.headerContainer{
    width: 100%;
    height: 80px;
    display: flex;
    padding: 10px 60px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    opacity: 0;
    z-index: 1;
    background-color: #fff;
}
.logoBox{
    width: 160px;
    height: 60px;
    text-align: center;
}
.logo{
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 50px;
    border-top: 1px solid #222;
    border-bottom: 3px solid #222;
    cursor: pointer;
}
.navList{
    display: flex;
    gap: 20px;
}
.navItem{
    padding: 5px 10px;
    display: block;
    position: relative;
}
.navItem a{
    position: relative;
    transition: .3s;
    z-index: 3;
}
.navItem::before{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 100%;
    background: #222;
    transition: .5s;
    z-index: 1;
}
.navItem:hover a{
    color: #fff;
}
.navItem:hover::before{
    width: 100%;
}

/*아래부터는 모바일 관련*/
.m_menuBtnBox{
    display: none;
    width: 30px;
    height: 30px;
}
.m_menuBtnBox .m_menuBtn{
    width: 30px;
    height: 30px;
    display: block;
    background: url("/source/img/icons/m_menu.png");
    background-size: 30px 30px;
    cursor: pointer;
}
.m_navBox{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 50px;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
.m_navBox.active{
    opacity: 1;
    pointer-events: all;
}
.m_menuCloseBtn{
    width: 30px;
    height: 30px;
    display: block;
    background: url("/source/img/icons/m_close.png");
    background-size: 30px 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    cursor: pointer;
}
.m_navBoxUpper{
    width: 100%;
    display: block;
    position: relative;
}
.m_logoBox{
    display: block;
}
.m_navList{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.m_navItem{
    font-size: 60px;
    font-weight: 600;
}
.m_navBoxLower{
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
}

@media screen and (max-width:730px) {
    .headerContainer{
        position: fixed;
        height: 50px;
        padding: 10px 30px;
    }
    .headerContainer .logoBox{
        display: none;
    }
    .headerContainer .navItem{
        display: none;
    }
    .m_menuBtnBox{
        display: block;
    }
}
@media screen and (min-width:731px) {
    .m_navBox{
        display: none;
    }
}