

.headerContainer{
    width: 100%;
    height: 80px;
    display: flex;
    padding: 10px 60px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    opacity: 0;
    z-index: 3;
}
.logoBox{
    width: 160px;
    height: 60px;
    text-align: center;
}
.logo{
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 50px;
    border-top: 1px solid #222;
    border-bottom: 3px solid #222;
    cursor: pointer;
}
.navList{
    display: flex;
    gap: 20px;
}
.navItem{
    padding: 5px 10px;
    display: block;
    position: relative;
}
.navItem a{
    position: relative;
    transition: .3s;
    z-index: 3;
}
.navItem::before{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 100%;
    background: #222;
    transition: .5s;
    z-index: 1;
}
.navItem:hover a{
    color: #fff;
}
.navItem:hover::before{
    width: 100%;
}