.wrapper{
    width: 100%;
    color: #222;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.contentBox{
    padding: 80px 80px 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.sectionTitle{
    --after-width: 0%; 
    pointer-events: none;
}
.title{
    font-size: 100px;
    line-height: 1.2;
    font-family: "Exo 2", sans-serif;
    letter-spacing: -2px;
    color: #222;
    margin-bottom: 10px;
    transition: color .5s ease;
}
.sectionTitle p{
    opacity: 0;
}
.sectionTitleTextChar{
    opacity: 0;
    display: inline-block;
}
.sectionTitle::after{
    margin-top: 20px;
    content: '';
    display: block;
    height: 2px;
    background: #222;
    width: var(--after-width); 
    transition: background-color .5s ease;
}
.content{
    padding-top: 40px;
}
.content::-webkit-scrollbar {
  width: 6px; 
}
.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
.content::-webkit-scrollbar-track {
  background-color: transparent;
}
.subtitle{
    display: flex;
    align-items: center;
    gap: 20px;
}
.titleText{
    font-size: 30px;
    font-family:'Aldrich';
    font-weight: 500;
    opacity: 0;
}
.numIcon{
    display: inline-block;
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: filter .5s ease;
}
.listBlock{
    height: calc(100vh - 80px);
}
.subtitle .num01{
    background: url("/source/img/icons/list01.png") no-repeat center/30px 30px;
}
.subtitle .num02{
    background: url("/source/img/icons/list02.png") no-repeat center/30px 30px;
}
.subtitle .num03{
    background: url("/source/img/icons/list03.png") no-repeat center/30px 30px;
}
.subtitle .num04{
    background: url("/source/img/icons/list04.png") no-repeat center/30px 30px;
}
.subtitle .num05{
    background: url("/source/img/icons/list05.png") no-repeat center/30px 30px;
}
.introduce .introCardList{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    height: 90%;
    padding: 50px;
}
.introCardList .gridLeft .kimsangho{
    height: 100%;
    font-size: 18px;
}
.introCardList .gridRight{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.introCard {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
    background-color: #f5f5f5;
    transition: background-color .5s ease, box-shadow .5s ease;
    opacity: 0;
}
.introCard .cardUpper{
    display: flex;
    align-items: center;
    gap: 10px;     
}
.introCard .cardTitle {
    font-family: 'Aldrich';
    font-weight: 600;
    font-size: 25px;
    color: #0eabc7;   
    opacity: 0;
}
.kimsangho .cardTitle{
    color: #f86e6e;  
}
.introCard .introIcon{
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    transition: filter .5s ease;
    opacity: 0;
}
.kimsangho .introIcon{
    background: url("/source/img/icons/ico_human.png") no-repeat center/cover;
}
.education .introIcon{
    background: url("/source/img/icons/ico_education.png") no-repeat center/cover;
}
.certificate .introIcon{
    background: url("/source/img/icons/ico_certificate.png") no-repeat center/cover;
}
.kimsangho p{
    opacity: 0;
    font-size: 16px;
}
.kimsangho p:first-of-type{
    margin-top: 20px;
}
.education ul, .certificate ul{
    margin-top: 20px;
}
.education li, .certificate li, .skills li{
    opacity: 0;
}
.skillListContainer{
    margin-top: 20px;
    height: 90%;
}
.skills .skillTab{
    display: flex;
    gap: 80px;
    justify-content: center;
}
.skills .skillListTitle{
    width: fit-content;
    text-align: center;
    font-size: 20px;
    font-family:'Aldrich';
    font-weight: 500;
    opacity: 0;
    height: 40px;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    transition: text-shadow .5s ease;
}
.skills .skillListTitle::before{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 2px;
    background-color: #222;
    width: 0;
    content: '';
    display: block;
    transition: width .5s ease, background-color .5s ease;
}
.skills .skillListTitle:hover{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.skills .skillListTitle:hover::before{
    width: 110%;
}
.skills .skillListTitle.selected{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.skills .skillListTitle.selected::before{
    width: 110%;
}
.skills .skillList{
    margin: 0 auto;
    margin-top: 50px;
    height: 80%;
    border-radius: 15px;
    padding: 40px;
    width: 80%;
    background-color: #f5f5f5;
    transition: background-color .5s ease;
    opacity: 0;
}
.skillList ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    text-align: center;
    row-gap: 40px;
}
.skillList .skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-basis: 9%;
    font-weight: 500;
}
.skillIcon{
    display: inline-block;
    width: 50px;
    height: 50px;
}
.contact{
    position: relative;
}
.contact .contactBox{
    width: 80%;
    margin: 0 auto;
    border-color: #222;
    border-width: 0px;
    border-style: solid;
    height: 80%;
    border-radius: 20px;
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    transition: border-width 0.5s ease, border-color 0.5s ease;
}
.contactBox p{
    font-size: 40px;
    font-weight: 600;
    color: #555;
    position: relative;
    opacity: 0;
    transition: color .5s ease;
}
.contactBox p::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    opacity: 0.2;
    left: -20px;
    top: -20px;
}
.contactBox .email::before{
    background: url("/source/img/icons/ico_email.png") no-repeat center/100px 100px;
    transition: filter .5s ease;
}
.contactBox .git::before{
    background: url("/source/img/icons/ico_git.png") no-repeat center/100px 100px;
    transition: filter .5s ease;
}
.contactBox a{
    font-size: 20px;
    opacity: 0;
    transition: color .5s ease;
}
.contactBox a:hover{
    text-decoration: underline;
}
/* 다크 모드 */
:global(body.darkMode) .wrapper{
    background-color: #222;
    color: #eee;
}
:global(body.darkMode) .title{
    color: #eee;
}
:global(body.darkMode) .sectionTitle::after{
    background: #eee;
}
:global(body.darkMode) .numIcon{
    filter: invert(9);
}
:global(body.darkMode) .content::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.8);
}
:global(body.darkMode) .introCard{
    background-color: #444;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.8);
}
:global(body.darkMode) .introCard .introIcon{
    filter: invert(0.8);
}
:global(body.darkMode) .skills .skillListTitle:hover{
    text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
}
:global(body.darkMode) .skills .skillListTitle.selected{
    text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
}
:global(body.darkMode) .skills .skillListTitle::before{
    background-color: #fff;
}
:global(body.darkMode) .skills .skillList{
    background-color: #777;
}
:global(body.darkMode) .contactBox{
    border-color: #eee;
}
:global(body.darkMode) .contactBox p{
    color: #ccc;
}
:global(body.darkMode) .contactBox a{
    color: #aaa;
}
:global(body.darkMode) .contactBox .email::before, :global(body.darkMode) .contactBox .git::before{
    filter: invert(10);
}
@media screen and (min-width: 730px) and (max-width: 1350px){
    .title{
        font-size: 80px;
    }
}

@media screen and (max-width: 730px){
    .contentBox{
        padding: 50px 20px 70px 20px;
    }
    .title{
        font-size: 50px;
    }
    .numIcon{
        display: inline-block;
        width: 20px;
        height: 20px;
        opacity: 0;
    }
    .subtitle{
        gap: 10px;
    }
    .subtitle .num01{
        background: url("/source/img/icons/list01.png") no-repeat center/20px 20px;
    }
    .subtitle .num02{
        background: url("/source/img/icons/list02.png") no-repeat center/20px 20px;
    }
    .subtitle .num03{
        background: url("/source/img/icons/list03.png") no-repeat center/20px 20px;
    }
    .subtitle .num04{
        background: url("/source/img/icons/list04.png") no-repeat center/20px 20px;
    }
    .subtitle .num05{
        background: url("/source/img/icons/list05.png") no-repeat center/20px 20px;
    }
    .kimsangho p{
        margin-left: 30px;
        font-size: 16px;
    }
    .education ul, .certificate ul, .skills ul{
        margin-left: 30px;
        margin-top: 20px;
    }
    .skills .skillListTitle{
        margin-left: 30px;
    }
    .skills ul{
        gap: 40px;
    }
    .contact .contactBox{
        flex-direction: column;
        gap: 50px;
        height: auto;
        padding: 50px;
        align-items: start;
        justify-content: start;
    }
    .contactBox p{
        font-size: 30px;
    }
    .contactBox p::before{
        content: '';
        display: inline-block;
        width: 70px;
        height: 70px;
        position: absolute;
        opacity: 0.2;
        left: -20px;
        top: -20px;
    }
    .contactBox .email::before{
        background: url("/source/img/icons/ico_email.png") no-repeat center/70px 70px;
    }
    .contactBox .git::before{
        background: url("/source/img/icons/ico_git.png") no-repeat center/70px 70px;
    }
    .contactBox a{
        font-size: 16px;
    }
}