/* 메인 비주얼 */
.introVisual{
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.introTextBox{
    color: #fff;
    font-size: 100px;
    font-family: "Aldrich", sans-serif;
    pointer-events: none;
}
.visualTextChar{
    display: inline-block;
    opacity: 0;
}
.scrollGuide{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  width: 48px;
  height: 65px;
  z-index: 6;
}
.scrollGuide .scrollBox{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrollGuide .scrollBox .ico1{
  width: 18px;
  height: 35px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 9px;
  margin-bottom: 10px;
}
.scrollGuide .scrollBox .ico2{
  position: absolute;
  left: 50%;
  width: 6px;
  height: 6px;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  animation: mouseScroll 1.2s ease-out infinite;
}
@keyframes mouseScroll{
  0%{
    top: 7px;
    opacity: 1;
  }
  100%{
    top: 17px;
    opacity: 0;
  }
}
.scrollGuide .scrollBox .guideText{
  color: #fff;
  font-family: "Pretendard";
}

/* 오버뷰 */
.contentBox{
    padding: 80px 0 120px;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
}
.content{
    flex: 1;
    width: 100%;
    font-size: 18px;
    color: #222;
    padding: 11px 10px 8px 10px;
    line-height: 1.25;
    position: relative;
    overflow: visible;
    display: flex;
}
.mainContent{
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 30px 70px;
    width: 65%;
    justify-content: space-between;
}
.borderBox{
    position: absolute;
    top: 0;
    left: 0;
}
.overviewTextBox{
    flex: 1;
    pointer-events: none;
}
.overviewTextBox p {
    margin-left: 10px;
}
.sectionTitle{
    font-size: 100px;
    font-family: "Exo 2", sans-serif;
    line-height: 1.2;
}
.sectionTitleTextChar {
    display: inline-block;
}
.content .overviewIntro{
    font-size: 30px;
    font-weight: 500;
}
.btnBox{
    display: flex;
    gap: 90px;
    bottom: 50px;
    left: 90px;
}
.linkBtn{
    width: 350px;
    height: 200px;
    border: #222 2px solid;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.linkBtn .btnTitle{
    font-family: "Aldrich", sans-serif;
    font-size: 40px;
}
.linkBtn .btnDesc{
    display: inline-block;
}
.linkBtn .btnDesc::after{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("/source/img/icons/right-arrow.png") no-repeat center;
    background-size: 25px 25px;
    position: absolute;
    right: 25px;
    transition: 0.3s;
}
.linkBtn:hover {
    background-color: #222;
    color: #fff;
}
.linkBtn:hover .btnDesc::after{
    filter: brightness(10);
    animation: shaking 0.5s ease-in-out infinite alternate;
}
@keyframes shaking{
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    } 
}
.overviewVisual{
    width: 35%;
    height: 100%;
    position: relative;
    transition: none;
}
.overviewVisual video{
    width: 100%;
    object-fit: fill;
    height: 100%;
    filter: grayscale(100%);
}
.overviewVisual::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media screen and (min-width: 731px) and (max-width: 1350px) {
    .introTextBox{
        font-size: 80px;
    }
    .mainContent{
        width: 100%;
    }
    .mainContent p{
        font-size: 16px;
    }
    .mainContent .sectionTitle{
        font-size: 80px;
    }
    .mainContent .overviewIntro{
        font-size: 20px;
    }
    .overviewVisual{
        display: none;
    }
}
@media screen and (max-width: 730px) {
    .contentBox{
        padding: 0;
        overflow: visible;
        height: calc(100vh - 70px);
    }
    .content{
        padding: 0;
    }
    .introTextBox{
        font-size: 40px;
    }
    .borderBox{
        display: none;
    }
    .mainContent{
        width: 100%;
        padding: 50px 20px 0 20px;
        gap: 30px;
        justify-content: flex-start;
    }
    .mainContent p{
        font-size: 16px;
        margin-left: 0;
    }
    .mainContent .sectionTitle{
        font-size: 50px;
        line-height: 1.5;
        --after-width: 0%; 
    }
    .mainContent .sectionTitle::after{
        content: '';
        display: block;
        background: #222;
        height: 2px;
        width: var(--after-width);
    }
    .mainContent .overviewTextBox{
        flex: 0;
    }
    .mainContent .overviewIntro{
        font-size: 20px;
        margin-top: 10px;
    }
    .btnBox{
        flex-direction: column;
        gap: 20px;
    }
    .overviewVisual{
        display: none;
    }
}