.wrapper{
    width: 100%;
    height: 100vh;
    transition: .5s ease;
}
.contentBox{
    padding: 80px 80px 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.sectionTitle{
    --after-width: 0%; 
    pointer-events: none;
}
.title{
    font-size: 100px;
    line-height: 1.2;
    font-family: "Exo 2", sans-serif;
    letter-spacing: -2px;
    color: #222;
    margin-bottom: 10px;
    transition: .5s ease;
}
.sectionTitle p{
    opacity: 0;
    color: #222;
    transition: .5s ease;
}
.sectionTitleTextChar{
    opacity: 0;
    display: inline-block;
}
.sectionTitle::after{
    margin-top: 20px;
    content: '';
    display: block;
    height: 2px;
    background: #222;
    width: var(--after-width); 
    transition: background-color 0.5s ease;
}
.boardContainer{
    width: 100%;
    height: 100%;
    overflow-x: visible;
}
.boardContainer::-webkit-scrollbar {
  width: 6px; 
}
.boardContainer::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}
.boardContainer::-webkit-scrollbar-track {
  background-color: transparent;
}
.projectBoard{
    width: 100%;
    height: calc(100vh - 280px);
    padding: 40px;
    position: relative;
    overflow: visible;
}
.projectBoard .boardUpper{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    position: relative;
}
.boardUpper .mobileDragGuide{
    position: absolute;
    right: 0;
    bottom: -30px;
    display: none;
    user-select: none;
    opacity: 0;
}
.boardUpper .mobileDragGuide::after{
    background: url("/source/img/icons/right-arrow.png") no-repeat center/cover;
    content: '';
    display: inline-block;
    width: 25px;
    height: 10px;
    filter: invert(0.6);
    animation: arrow-shaking .5s ease-in-out infinite alternate;
}
@keyframes arrow-shaking{
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    } 
}
.boardUpper .mobileDragGuide span{
    display: inline-block;
    color: #777;
    transform: skewX(-23deg);
    padding-right: 10px;
}
.projectBoard .filterBox{
    width: 220px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border-radius: 60px;
    opacity: 0;
    transition: background-color .5s ease;
}
.filterBox .filterCondition{
    padding: 4px 10px;
    border-radius: 20px;
    border: none;
    background-color: #222;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
    font-family: 'Aldrich';
    cursor: pointer;
    transition: background-color .5s ease, color .5s ease;
}
.filterBox .filterCondition:hover{
    background-color: #333;
}
.filterBox .filterCondition.active{
    background-color: #fff;
    color: #222;
}
.boardContainer .projectBoard .projectCardList {
    margin-top: 40px;
    overflow: visible;
    height: 100%;
}
.boardContainer .projectBoard .projectCardList .projectCard{
    overflow: visible;
    position: relative;
    border-radius: 10px;
    opacity: 1;
    perspective: 630px;
    width: 400px;
    height: 85% !important;
    border-radius: 10px;
    opacity: 0;
}
.cardInner {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    position: relative;
}
.cardInner.flipped {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.frontSide {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1100px 700px ;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
    position: relative;
    transition: background-color .5s ease, color .5s ease, box-shadow .5s ease;
}
.frontSide:hover {
  box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.5);
}
.frontSide::before{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #111, transparent 40%);
    content: '';
    display: block;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease;
}
.frontSide:hover::before{
    opacity: 1;
}
.frontSide video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
.frontSide video.active{
    opacity: 1;
}
.frontSide .titleBox{
    position: absolute;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    height: 18%;
    border-top: 1px solid #555;
    padding: 15px 30px;
    transition: background-color .5s ease;
}
.frontSide .titleBox p{
    color: #222;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Aldrich';
    transition: color .5s ease;
}
.frontSide .titleBox .cardNotice{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    color: #fff;
    font-size: 20px;
    transition: opacity .3s ease, color .5s ease;
}
.frontSide:hover .titleBox .cardNotice{
    opacity: 1;
    animation: shaking 0.3s infinite;
    z-index: 3;
}
@keyframes shaking {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}
.backSide {
    transform: rotateY(180deg);
    background-color: #fafafa;
    padding: 20px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    transition: background-color .5s ease, color .5s ease;
}
.backSide .titleBox p:first-child{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Aldrich';
}
.backSide .titleBox p{
    color: #222;
    font-size: 16px;
    font-weight: 400;
    font-family:'Noto Sans KR';
    margin-bottom: 20px;
    transition: color .5s ease;
}
.backSide .techTags{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 50px;
}
.techTags .tagBox{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.tagBox .tag{
    padding: 4px 8px;
    transition: background-color .5s ease, color .5s ease;
    user-select: none;
    font-weight: 500;
    background-color: #e7e7e7; 
}
.tagBox .tag.language {
    color: #f86e6e;           
}
.tagBox .tag.framework {
    color: #0eabc7;           
}
.techTags .tag:hover{
    background-color: #d7d7d7;
}
.backSide .linkBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.backSide .linkBox a{
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: #222 1px solid;
    border-radius: 5px;
    transition: color .5s ease, border .5s ease;
    position: relative;
    overflow: hidden;
}
.backSide .linkBox a::before {
    content: '';
    top: -100%;
    left: 20%;
    position: absolute;
    width: 300px;    
    height: 200px;   
    background-color: #222; 
    transform: translateX(-100%) rotate(45deg);
    transition: transform .5s ease, background-color .5s ease;
    z-index: -1;
    pointer-events: none;
}
.backSide .linkBox a:hover{
    color: #fff;
}
.backSide .linkBox a:hover::before {
    transform: translateX(-20%) rotate(45deg); 
}
.backSide .returnFrontSide{
    text-align: end;
    height: 30px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.backSide button{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background: transparent;
    border: none;
}
.backSide button .ico{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(/source/img/icons/ico_turn.png) no-repeat center/cover;
    transition: filter .5s ease;
}

/* 다크 모드 */
:global(body.darkMode) .wrapper{
    background: #222;
}
:global(body.darkMode) .title, :global(body.darkMode) .sectionTitle p{
    color: #eee;
}
:global(body.darkMode) .sectionTitle::after{
    background: #eee;
}
:global(body.darkMode) .boardContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255);
}
:global(body.darkMode) .boardContainer .filterBox{
    background-color: #eee;
}
:global(body.darkMode) .filterBox .filterCondition{
    background-color: #eee;
    color: #222;
}
:global(body.darkMode) .filterBox .filterCondition:hover{
    background-color: #ccc;
}
:global(body.darkMode) .filterBox .filterCondition.active{
    background-color: #222;
    color: #eee;
}
:global(body.darkMode) .frontSide{
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
}
:global(body.darkMode) .frontSide:hover {
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, 1);
}
:global(body.darkMode) .frontSide .titleBox{
    background-color: #444;
}
:global(body.darkMode) .frontSide .titleBox p{
    color: #fff;
}
:global(body.darkMode) .backSide{
    background-color: #444;
}
:global(body.darkMode) .backSide p {
    color: #eee;
}
:global(body.darkMode) .tagBox .tag{
    background-color: #4B5563;
}
:global(body.darkMode) .tagBox .tag:hover {
    background-color: #222; 
}
:global(body.darkMode) .backSide .linkBox a{
    color: #eee;
    border: 1px solid #fff;
}
:global(body.darkMode) .backSide .linkBox a::before{
    background-color: #fff;
}
:global(body.darkMode) .backSide .linkBox a:hover{
    color: #222;
}
:global(body.darkMode) .backSide button .ico{
    filter: invert(1);
}


@media screen and (min-width: 730px) and (max-width: 1350px){
    .title{
        font-size: 80px;
    }
    .projectCard{
        box-sizing: border-box;
        width: 40%;
        height: 400px;
    }
    .hoverBox{
        bottom: 30px;
        left: 50%;
    }
}

@media screen and (max-width: 730px){
    .contentBox{
        padding: 50px 20px 0 20px;
    }
    .title{
        font-size: 50px;
    }
    .projectBoard{
        padding: 40px 0;
    }
    .boardUpper .mobileDragGuide {
        display: inline-block;
    }
}